# 忽略目录
node_modules
/packages
/dist
/docs

# 忽略指定文件
vue.config.js
babel.config.js
.jsconfig.json
.browserlintrc
lint-staged.config.js
comminlint.config.js

.gitignore
.npmignore

.eslintrc.js
.eslintignore

.prettierrc.json
.prettierignore

.stylelint.config.js
.stylelintignore




